:root {
  --primary-color-1: hsl(215, 51%, 70%);
  --primary-color-2: hsl(178, 100%, 50%);

  --neutral-color-1: hsl(217, 54%, 11%);
  --neutral-color-2: hsl(216, 50%, 16%);
  --neutral-color-3: hsl(215, 32%, 27%);
  --neutral-color-4: hsl(0, 0%, 100%);

  --white-color: var(--neutral-color-4);
  --overlay-color: hsla(178, 100%, 50%, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: var(--primary-color-2);
}

html {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  font-weight: normal;
  color: var(--primary-color-1);
  background-color: var(--neutral-color-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
}

a,
a:visited {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a:is(:hover, :active, :focus) {
  color: var(--primary-color-2);
}

.wrapper {
  position: relative;
  display: inline-flex;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.padding-bottom-md {
  padding-bottom: 1em;
}

.margin-bottom-sm {
  margin-bottom: 0.2em;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: 0.4em;
}

.gap-md {
  gap: 1em;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.label-font {
  font-size: 0.8em;
}

.bold {
  font-weight: 600;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.color-white {
  color: var(--white-color);
}

.color-primary {
  color: var(--primary-color-2);
}

.round-border {
  border-radius: 100%;
}

.border-white {
  border: 0.111em solid var(--white-color);
}

.card-padding {
  padding: 1.2em;
}

.card-border-radius {
  border-radius: 1em;
}

.card-background-color {
  background-color: var(--neutral-color-2);
}

.card-image-border-radius {
  border-radius: 0.6em;
}

.card-content-border-bottom {
  border-bottom: 0.0555em solid var(--neutral-color-3);
}

.card {
  width: 20em;
}

@media (width < 32em) {
  .card {
    width: 90%;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.card__link:is(:hover, :active, :focus) > .image-overlay {
  position: absolute;
  background-image: url(images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--overlay-color);
  border-radius: 0.6em;
  inset: 0;
  opacity: 1;
}

.card__title {
  font-size: 1.3em;
}

.card__avatar {
  width: 2.2em;
}
